@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 211 100% 95%;
		--foreground: 211 5% 10%;
		--card: 211 50% 90%;
		--card-foreground: 211 5% 15%;
		--popover: 211 100% 95%;
		--popover-foreground: 211 100% 10%;
		--primary: 211 74.7% 29.4%;
		--primary-foreground: 0 0% 100%;
		--secondary: 211 30% 70%;
		--secondary-foreground: 0 0% 0%;
		--muted: 173 30% 85%;
		--muted-foreground: 211 5% 35%;
		--accent: 173 30% 80%;
		--accent-foreground: 211 5% 15%;
		--destructive: 0 100% 30%;
		--destructive-foreground: 211 5% 90%;
		--border: 211 30% 50%;
		--input: 211 30% 26%;
		--ring: 211 74.7% 29.4%;
		--radius: 0.5rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}

	.dark {
		--background: 211 50% 10%;
		--foreground: 211 5% 90%;
		--card: 211 50% 10%;
		--card-foreground: 211 5% 90%;
		--popover: 211 50% 5%;
		--popover-foreground: 211 5% 90%;
		--primary: 211 74.7% 29.4%;
		--primary-foreground: 0 0% 100%;
		--secondary: 211 30% 20%;
		--secondary-foreground: 0 0% 100%;
		--muted: 173 30% 25%;
		--muted-foreground: 211 5% 60%;
		--accent: 173 30% 25%;
		--accent-foreground: 211 5% 90%;
		--destructive: 0 100% 30%;
		--destructive-foreground: 211 5% 90%;
		--border: 211 30% 26%;
		--input: 211 30% 26%;
		--ring: 211 74.7% 29.4%;
		--radius: 0.5rem;
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
