@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 204 24% 95%;
		--foreground: 204 5% 0%;
		--card: 204 24% 90%;
		--card-foreground: 204 5% 10%;
		--popover: 204 24% 95%;
		--popover-foreground: 204 95% 0%;
		--primary: 204 100% 19%;
		--primary-foreground: 0 0% 100%;
		--secondary: 204 24% 70%;
		--secondary-foreground: 0 0% 0%;
		--muted: 166 24% 85%;
		--muted-foreground: 204 5% 35%;
		--accent: 166 24% 80%;
		--accent-foreground: 204 5% 10%;
		--destructive: 0 50% 30%;
		--destructive-foreground: 204 5% 90%;

		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--ring: 0 72.2% 50.6%;
		--radius: 0.75rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
	.dark {
		--background: 204 24% 5%;
		--foreground: 204 5% 90%;
		--card: 204 24% 0%;
		--card-foreground: 204 5% 90%;
		--popover: 204 24% 5%;
		--popover-foreground: 204 5% 90%;
		--primary: 204 100% 19%;
		--primary-foreground: 0 0% 100%;
		--secondary: 204 24% 10%;
		--secondary-foreground: 0 0% 100%;
		--muted: 166 24% 15%;
		--muted-foreground: 204 5% 60%;
		--accent: 166 24% 15%;
		--accent-foreground: 204 5% 90%;
		--destructive: 0 50% 30%;
		--destructive-foreground: 204 5% 90%;

		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--ring: 0 72.2% 50.6%;
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
